@model BlogWeb.Models.ApplicationModel

<meta charset="utf-8" />
<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta name="viewport" content="width=device-width" />

<title>@Model.Title</title>
<meta name="description" content="@Model.Description">
<meta name="keywords" content="@Model.Keywords">
<meta name="author" content="@Model.Author">